@font-face {
	font-family: OpenSans-Regular;
	src: url(../fonts/OpenSans-Regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: OpenSans-Bold;
	src: url(../fonts/OpenSans-Bold.woff);
	font-weight: 700;
}

* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
}


/* Шапка */

@media (min-width: 1201px) {
	.header {
		height: 450px;
		background-image: url("../images/banner-bg.jpg");
		background-position: center bottom;
		padding: 28px 0 120px;
	}

	.header-content {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
	}

	.header-logo-and-nav {
		justify-content: space-between;
	}

	.logo {
		width: 180px;
	}

	.header-nav {
		display: flex;
		justify-content: flex-end;
	}

	.burger-btn {
		display: none;
	}

	h1 {
		width: 70%;
		min-width: 950px;
		margin: 110px auto 0 auto;

		font-size: 45px;
		line-height: 75px;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.header {
		height: 394px;
		background-image: url("../images/banner-bg-tablet.jpg");
		background-position: center bottom;
		padding: 43px 0 120px;
	}

	.header-content {
		margin: 0 auto;
		padding: 0 35px;
	}

	.header-logo-and-nav {
		justify-content: space-between;
	}

	.logo {
		width: 158px;
	}

	.header-nav {
		display: none;
	}

	.burger-btn {
		top: 50px;
		right: 35px;
	}

	h1 {
		width: 90%;
		min-width: 560px;
		margin: 80px auto 0 auto;

		font-size: 40px;
		line-height: 55px;
	}
}

@media (max-width: 640px) {
	.header {
		height: 100vh;
		background-image: url("../images/banner-mobile.jpg");
		background-position: center;
	}

	.header-content {
		position: relative;
		top: 49%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: auto;
		padding: 0 35px;
	}

	.header-logo-and-nav {
		justify-content: center;
	}

	.logo {
		width: 270px;
	}

	.header-nav {
		display: none;
	}

	.burger-btn {
		top: 30px;
		right: 20px;
	}

	h1 {
		margin: 30px auto 0 auto;
		font-size: 26px;
		line-height: 36px;
	}
}
/* Конец @media запросов */

.header {
	box-sizing: border-box;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	background-color: #000000;
}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.6;
	z-index: -1;
}

.burger-btn {
	width: 23px;
	height: 24px;
	margin-top: 3px;
	background-color: transparent;
	position: absolute;
}

.burger-line {
	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 5px;
	background-color: #fff;
}

.burger-btn:hover {
		opacity: 0.7;
		cursor: pointer;
	}

.header-logo-and-nav {
	display: flex;
	align-items: center;
	margin: auto 0;
	/*color: #d0cfcf; /* Только для просмотра границ блока! */
}

.header-nav li {
	margin-left: 35px;
	list-style: none;
}

.header-nav li a {
	color: #ffffff;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
}

.header-nav li a:hover {
	text-decoration: underline;
}

h1 {
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	/*background-color: #d0cfcf; /* Только для просмотра границ блока! */
}

/*----------------------------------------*/
/* Блок Тренды */

@media (min-width: 1201px) {
	.trends-container {
		margin-top: 63px;
	}

	h2 {
		font-size: 20px;
	}

	.trend-card-container {
		margin-top: 40px;
	}

	.trend--card {
		flex: 1 1 24%;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.trends-container {
		margin-top: 45px;
	}

	h2 {
		font-size: 18px;
	}

	.trend-card-container {
		margin-top: 32px;
	}

	.trend--card {
		flex: 1 1 40%;
	}
}

@media (max-width: 640px) {
	.trends-container {
		margin-top: 35px;
	}

	h2 {
		font-size: 16px;
	}

	.trend-card-container {
		margin-top: 20px;
	}

	.trend--card {
		flex: 1 1 40%;
	}
}

@media (max-width: 640px) and (orientation: portrait) {
	.trend--card {
		flex: 1 1 100%;
	}
}
/* Конец @media запросов */

.trends-container {
	width: 100%;
	margin-left: 0px;
	/*background-color: #e8e8e8; /* Только для просмотра границ блока! */
}

.title-above-aside {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	/*background-color: #e8e8e8; /* Только для просмотра границ блока! */
}

.title-above-aside::after {
	content: "";
	position: absolute;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
	opacity: 0.4;
	top: 34px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.trend-card-container {
	width: calc(100% + 4px);

	position: relative;
	left: -4px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.trend--card {
	box-sizing: border-box;
	display: flex;
	align-items: flex-end;

	height: 320px;
	margin-left: 4px;
	margin-bottom: 4px;
	vertical-align: bottom;
	padding: 16px 20px;
	position: relative;
	background-color: #464646;
	background-repeat: no-repeat;
	background-size: cover;
}

.trend--card::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000000;
	opacity: 0.6;
}

.card--1 {
	background-image: url(../images/trend1.jpg);
}

.card--2 {
	background-image: url(../images/trend2.jpg);
}

.card--3 {
	background-image: url(../images/trend3.jpg);
}

.card--4 {
	background-image: url(../images/trend4.jpg);
}

.card--tags--title {
	box-sizing: border-box;
	width: 100%;
	padding: 39px 33px;
	border: 3px solid rgba(181,159,91,0.6);
	z-index: 1;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	margin-bottom: 8px;
}

.tags li {
	list-style: none;
	margin-right: 20px;
}

.tags li a {
	color: #b59f5b;
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.tags li a:hover {
	text-decoration: underline;
}

h2 {
	font-weight: 600;
	text-transform: uppercase;
}

h2 a:hover {
	color: #b59f5b;
}

.trend---title {
	color: white;
	text-decoration: none;
}

/*----------------------------------------*/
/* Центральные разделы main и aside */

@media (min-width: 1201px) {
	.main-and-aside {
		max-width: 1200px;
		margin: 55px auto 0;
		padding: 0 15px 0;

		justify-content: space-between;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.main-and-aside {
		margin: 46px auto 0;
		padding: 0 35px 0;

		justify-content: space-between;
	}
}

@media (max-width: 640px) {
	.main-and-aside {
		margin: 44px auto 0;
		padding: 0 15px 0;

		flex-direction: column;
		justify-content: flex-start;
	}
}
/* Конец @media запросов */

.main-and-aside {
	display: flex;
	align-content: flex-start;
	/*		background-color: #cdcdcd; /* Только для просмотра границ блока! */
}

/*----------------------------------------*/
/* Блок main */

@media (min-width: 1201px) {
	main {
		min-width: 685px;
	}

	.article-container {
		margin-bottom: 60px;
	}

	.article-content {
		margin-left: 30px;
	}

	.main-img {
		width: 381px;
		height: auto;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	main {
		max-width: 580px;
	}

	.article-container {
		flex-direction: column;
		margin-bottom: 40px;
		border-bottom: 3px solid #eeeeee;
	}

	.article-content {
		margin-left: 0;
		margin-top: 10px;
	}

	.img-container {
		position: relative;
		width: 100%;
		height: 39vw;
		min-height: 303px;
		overflow: hidden;
	}

	.main-img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 640px) {
	.article-container {
		flex-direction: column;
		margin-bottom: 35px;
		border-bottom: 3px solid #eeeeee;
	}

	.article-content {
		margin-left: 0;
		margin-top: 10px;
	}

	.img-container {
		position: relative;
		width: 100%;
		height: 36vh;
		overflow: hidden;
	}

	.main-img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 640px) and (orientation: landscape) {
	.img-container {
		height: 100vh;
	}
}
/* Конец @media запросов */

main {
	flex: 1;
}

.article-container {
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	/*background-color: #e8e8e8; /* Только для просмотра границ блока! */
}

.article-container:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.article--title {
	color: #0f0d0e;
	text-decoration: none;
}

.date-author {
	display: flex;
	align-items: baseline;
	margin: 30px 0 30px;
}

.author {
	color: #000000;
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 12px;
}

.date {
	margin-right: 14px;
	color: #888888;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 12px;
}

.text {
	margin-bottom: 14px;
	color: #0f0d0e;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 22px;
}

/*----------------------------------------*/
/*Блок aside */

@media (min-width: 1201px) {
	.right-column {
		width: 270px;
		margin-left: 90px;
	}

	h3 {
		font-size: 14px;
	}

	.news-container {
		margin: 22px 0 22px;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.right-column {
		width: 270px;
		margin-left: 35px;
	}

	h3 {
		font-size: 14px;
	}

	.news-container {
		margin: 22px 0 22px;
	}
}

@media (max-width: 640px) {
	.right-column {
		width: 100%;
		margin-top: 45px;
	}

	h3 {
		font-size: 16px;
	}

	.news-container {
		margin: 22px 0 22px;
	}
}
/* Конец @media запросов */

h3 {
	color: #000000;
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

.h3-above {
	margin-bottom: 36px;
	text-align: center;
	position: relative;
}

.h3-above::after {
	content: "";
	position: absolute;
	width: 66px;
	height: 3px;
	background-color: #b59f5b;
	opacity: 0.4;
	top: 28px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

/* Блоки Новые Посты */

.news-container {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
}

.news-container:last-child {
	margin-bottom: 0;
}

.news-img {
	width: 70px;
	height: auto;
	margin-right: 18px;
}

.news-title {
	display: block;
	margin-top: 3px;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
}

.news-title:hover {
	color: #b59f5b;
}

/* Форма поиска */

.search-form {
	display: flex;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;
	margin: 60px 0 62px;

	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
}

label.search {
	width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
}

.search-input {
	box-sizing: border-box;
	height: 47px;
	width: 100%;
	padding: 0 20px 0 15px;
	background-color: #f4f7f6;

	color: #a2a4a3;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.search-input:focus {
	outline: 2px solid #b59f5b;
}

.button-find {
	box-sizing: border-box;
	min-width: 47px;
	height: 47px;
	background-color: #b59f5b;
	padding: 1px 0 0 1px;

	background-image: url(../svg/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px auto;  
	cursor: pointer;
}

.button-find:hover {
	background-color: #323232;
}

/* Форма рассылки */

.email-submit {
	width: 100%;
}

.email-input {
	box-sizing: border-box;
	height: 47px;
	width: 100%;
	padding: 0 20px 0 15px;
	margin-bottom: 17px;
	background-color: #f4f7f6;

	color: #a2a4a3;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.email-input:focus {
	outline: 2px solid #b59f5b;
}

.button-gold-h47px {
	box-sizing: border-box;
	width: 100%;
	height: 47px;
	background-color: #b59f5b;
	cursor: pointer;

	color: #ffffff;
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}

.button-gold-h47px:hover {
	background-color: #323232;
	border: none;
	outline: none;
}

/* Блок боковых тегов */

.aside-tags {
	margin-top: 58px;
	/*background-color: #d1cfcf; /* Только для просмотра границ блока! */
}

.aside-tags-container {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	align-items: flex-start;
}

.aside-tag {
	list-style: none;
}

.aside-tag a.tag-text{
	display: inline-block;
	box-sizing: border-box;
	padding: 4px 10px;
	border: 3px solid #eeeeee;
	color: #0f0d0e;
	margin: 0 5px 6px 0;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.aside-tag a.tag-text:hover {
	border-color: #b59f5b;
}

/* Блок Темы */

.subjects {
	margin-top: 58px;
}

.subject-content li{
	list-style: none;
	padding-bottom: 12px;
	margin-top: 14px;
	border-bottom: 1px solid #eeeeee;
}

a.subject-link {
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}

a.subject-link:hover {
	color: #b59f5b;
}

.superscript {
	display: inline-block;
	margin-left: 4px;
	color: #b59f5b;
	font-size: 12px;
	vertical-align: super;
}

/*----------------------------------------*/
/* Блок Наши Изделия */

@media (min-width: 1201px) {
	.product-card-wrapper {
		padding: 0 15px;
	}

	.product-card {
		max-width: 338px;
	}

	.product-card:after {
		top: 208px;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.product-card-wrapper {
		padding: 0 35px;
	}

	.product-card {
		width: calc(50% - 12px);
	}

	.product-card:after {
		top: 62%;
	}
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
	.product-card-wrapper {
		padding: 0 35px;
	}

	.product-card {
		width: calc(50% - 12px);
	}
}

@media (max-width: 640px) {
	.product-card-wrapper {
		padding: 0 15px;
	}

	.product-card {
		width: 100%;
	}
}

@media (max-width: 640px) and (orientation: landscape) {
	.product-card {
		width: calc(50% - 12px);
	}
}
/* Конец @media запросов */

.products-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 59px auto 0;
	/*background-color: #cdcdcd; /* Только для просмотра границ блока! */
}

.product-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 100%;
	max-width: 1200px;
	margin-top: 12px;
}

.product-card {
	box-sizing: border-box;
	padding: 22px 20px;
	position: relative;

	display: flex;
	flex-direction: column;
	/*background-color: rgba(190,210,230,0.4); /* Только для просмотра границ блока! */
}

.product--pic--wrapper {
	flex: 0 0%;
	width: 100%;
	margin-top: 0;
	margin-bottom: 52px;
}

.product---pic {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.product--text--wrapper {
	flex: 1;
	margin: -78px -20px -22px;
	padding: 46px 20px 22px;
	outline: 3px solid rgba(181,159,91,0.6);
}

.text--link {
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	color: #b59f5b;
	text-decoration: none;
}

.text--link:hover {
	text-decoration: underline;
}

.price-shop--wrapper{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	margin-top: 20px;
}

.price--before {
	font-size: 14px;
	color: #0f0d0e;
	text-decoration: line-through;
}

.current--price {
	font-size: 20px;
	color: #0f0d0e;
	margin-top: -5px;
}

.btn-shop {
	display: flex;
	width: 140px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	/*line-height: 47px;*/
}

/*--------------------------------------------*/
/* ПОДВАЛ */

.footer-margins {
	max-width: 1200px;
	margin: 64px auto 0;
	padding: 0 15px 0;
	/*background-color: #cdcdcd; /* Только для просмотра границ блока! */
}

footer {
	width: 100%;
	height: 83px;
	margin: 0 auto 0;
	vertical-align: middle;
	background-color: #f4f7f6;
}

footer address {
	height: 100%;
}

.socials {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*background-color: #e9e9e9; /* Только для просмотра границ блока! */
}

.socials-item {
	list-style: none;
	margin-right: 26px;
}

.socials-item:first-child {
	margin-left: 7px; /* Для визуального выравнивания со строкой .copyright */
}

.socials-item:last-child {
	margin-right: 0;
}

.social-link {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	/*background-color: #cdcdcd; /* Только для просмотра границ блока! */
}


/* Иконки соцсетей */

.twitter {
	background-image: url(../svg/004-twitter.svg);
	width: 25px;
	height: 25px;
}

.pinterest {
	background-image: url(../svg/001-pinterest.svg);
}

.facebook {
	background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
	background-image: url(../svg/005-instagram.svg);
}

.tumblr {
	background-image: url(../svg/003-tumblr.svg);
}

.copyright {
	display: block;
	color: #999999;
	font-family: OpenSans-Bold, Arial, sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	margin: 70px auto 40px;
	text-align: center;
	/*background-color: #dddddd; /* Только для просмотра границ блока! */
}

/*----------------------------------------*/
/* POP-UP */

@media (min-width: 1201px) {
	.popup-container {
	position: fixed;
	}

	.popup-form {
		width: 345px;
		height: 494px;
		padding: 53px 30px;
		top: 50%;
	}

	.radio-subscribed:nth-of-type(2) {
		margin-left: 10px;
	}

	.radio--text::before {
		width: 16px;
		height: 16px;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {
	.popup-container {
	position: fixed;
	}

	.popup-form {
		width: 345px;
		height: 494px;
		padding: 53px 30px;
		top: 50%;
	}

	.radio-subscribed:nth-of-type(2) {
		margin-left: 26px;
	}

	.radio--text::before {
		width: 26px;
		height: 26px;
	}
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
	.popup-container {
		position: static;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: auto;
		left: auto;
		right: auto;
		z-index: 3;
	}

	.popup-form {
		position: absolute;
		top: 86%;
}

@media (max-width: 640px) {
	.popup-container {
	position: fixed;
	}

	.popup-form {
		width: 70vw;
		height: 75vh;
		padding: 32px 30px;
		top: 50%;
	}

	.radio-subscribed:nth-of-type(2) {
		margin-left: 26px;
	}

	.radio--text::before {
		width: 26px;
		height: 26px;
	}
}

@media (max-width: 640px) and (orientation: landscape) {
	.popup-container {
		position: static;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: auto;
		left: auto;
		right: auto;
		z-index: 3;
	}

	.popup-form {
		position: absolute;
		width: 345px;
		height: 494px;
		padding: 53px 30px;
		top: 110%;
	}

	.radio-subscribed:nth-of-type(2) {
		margin-left: 26px;
	}
}
/* Конец @media запросов */

.popup-container {
	/*display: none;*/
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}

.popup-container::after {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity:	0.6;
	z-index: 2;
}

.popup-form {
	background-color: #ffffff;

	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup-close {
	width: 19px;
	height: 19px;
	position: absolute;
	top: -27px;
	right: 0;
	background-color: transparent;
	/*background-image: url(../svg/form-x.svg);*/
	background-repeat: no-repeat;
	background-size: contain;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.popup-close:hover {
	cursor: pointer;
	opacity: 0.8;
}

.popup-close:before, .popup-close:after {
	position: absolute;
	content: "";
	height: 23px;
	width: 3px;
	background-color: #ffffff;
	left: 50%;
	top: 50%;
}

.popup-close:before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.popup-close:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-label {
	display: block;
	margin-top: 30px;
}

.popup-menu {
	margin-top: 42px;
}

.input-hint {
	display: block;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	margin-bottom: 10px;
}

.select-frequency {
	box-sizing: border-box;
	width: 100%;
	height: 47px;
	padding: 0 20px 0 15px;
	background-color: #f4f7f6;

	color: #a2a4a3;
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;

	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../svg/form-arrows.svg);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: right 13px center;
}

.select-frequency:focus {
	color: #000000;
	outline: 2px solid #b59f5b;
}

/* Радио-кнопки */

.radio--input {
	position: absolute;
	left: -50vw;
	clip: rect(1px, 1px, 1px, 1px,);
	width: 1px;
	height: 1px;
}

.radio--text {
	font-family: OpenSans-Regular, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
}

.radio--text::before {
	content: "";
	display: inline-block;

	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	vertical-align: middle;
	margin-right: 4px;
}

.radio--input:checked ~ .radio--text::before {
	background-image: url(../svg/form-circle.svg);
}

/* Текстовое поле */

.popup-text-area {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	margin-bottom: 9px;
	/*background-color: #cdcdcd; /* Только для просмотра границ блока! */
}

.type--what {
	box-sizing: border-box;
	max-width: 100%;
	min-width: 100%;
	flex: 1;
	padding: 20px 20px;
	background-color: #f4f7f6;

	font-family: OpenSans-Regular, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
}

.type--what:focus {
	color: #000000;
	outline: 2px solid #b59f5b;
}
